@page "/Post/{Id:guid}"
@using EpzNotDead.Client.Pages.Components.Bases
@using EpzNotDead.Client.Pages.Components
@inherits PostDetailsBase

@if (Post == null && ErrorMessage == null)
{
    <p>Loading..</p>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <b>@Post.Title</b>
    <br /><Footer Id="@Post.Id" Created="@Post.Created" Edited="@Post?.Edited" Score="@Post.Score"/>
    <hr />
    <p>@Post.Content</p>
    if (Post.AdditionalContent.Any())
    {
        foreach(var ac in Post.AdditionalContent)
        {
            <b>@ac.Name</b>
            <p>@ac.Content</p>
        }
    }
    if (Post.Links.Any())
    {
        <div class="terminal-card">
            <header>Linki</header>
            <div>
                @foreach(var link in Post.Links)
                {
                    <b>@link.Title</b> <span>--<a href="@link.Url">@link.Url</a></span>
                    <br />
                }
            </div>
        </div>
    }
}
