@using EpzNotDead.Client.Pages.Components.Bases
@inherits LeadBase

@if (Article is null)
{
    <span>Chwila..</span>
}
else
{
    //<a href="/ProductDetails/@item.Id">
<h1 class="title"><a href="/Post/@Article.Id">@Article.Title</a></h1>
<Footer Id="@Article.Id" Created="@Article.Created" Edited="@Article?.Edited" Score="@Article.Score"/>

<p>
    @Article.ShortContent
</p>
}

@code {
    
}
